spring:
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URL:http://localhost:888}
          username: ${CONFIG_GIT_USERNAME:test}
          password: ${CONFIG_GIT_PASSWORD:password}